
<!-- <div id="wrapper"> -->
<div id="content">

  <div class="list">

    <div class="product-card">
      <!-- <span class="tag">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      </span> -->
     
      <figure>
         <%= image_tag product.product_attachments.first.photo %>
        <!-- <img src="https://iconicinteriors.com/images/uploads/products/swan-chairs.jpg" alt="product" /> -->
      </figure>
      <h2> <%= product.name %></h2>
      <h2> €<%= product.price %></h2>

     <!--  <h4>ARMCHAIR</h4> -->
      
    <!--   <span class="price">
        $790 -->
  <!--     </span> -->
      

    </div>

  </div>

</div>
<!-- </div> -->

