<div class="banner">
	
	<div class="heading-primary">
		<h1 class="heading-primary--main"><span class="title-light">FROM MOZAMBIQUE TO YOU!</span></h1>
		<h3 class="heading-primary--sub">handmade crafts donne with love from Mozambican artisans</h3>
		<%= link_to "ACCOMMODATION",  "#", class: "btn-banner " %>
		
	</div>
</div>