<div class="banner">
	
	<div class="heading-primary">
		<h1 >From the Mozambican people <span class="border-bottom">to you!</span></h1>
		<h3 >Creating a bridge between talented artisans and <br>global lovers of unique handicrafts</h3>
	<!-- 	<%= link_to "ACCOMMODATION",  "#", class: "btn-banner " %>
		 -->
	</div>
</div>
<div class="wrapper-foodrinks">
	<div class="container">
		<h4>FEATURED</h4>
		<br>	
		<div class="row">
			<% @products.each do |r| %>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<%= render  "products/product", product: r %>
				</div>
			<% end %>	
		</div>		
	</div>
</div>
<div class="wrapper-aboutus">
	<div class="container">
		<h4>OUR STORY</h4>
		<hr>
		<p>
			Baob’Art is a small marketing organization created in 2010 by Maura Mendes and Raphael Baptista mainly focused on promoting Mozambique’s craft across the borders. <br>

			
			The two founders have known many of the craftsmen
			for years, watching them strugling to earn a living by their art. 

			For the producers of arts and crafts, market in Maputo(the capital) is the only direct marketing opportunity. The rest of the production goes on between dealers and buyers in the sub-Region (especially from South Africa). The proposed prices are also generally low. 
			<br>
			
			With BaobArt's support, the craftspeople have now income-generating opportunities, exporting their products under the conditions of Fair Trade,  ensuring that their work leads them to a sustainable feature.
			
	
		</p>	
		<%= link_to "Read more about us...",  "#", class: "about-us-link " %>
	</div>
</div>





