<div class="banner">
	
	<div class="heading-primary">
		<h1 >From the Mozambican people <span class="border-bottom">to you!</span></h1>
		<h3 >Creating a bridge between talented artisans and <br>global lovers of unique handicrafts</h3>
	<!-- 	<%= link_to "ACCOMMODATION",  "#", class: "btn-banner " %>
		 -->
	</div>
</div>